@import 'variables';

.call_friend{
    display: flex;
    flex-direction: column;
    .h1_container{
        width: 40%;
        min-width: 590px;
        @media (max-width: 1200px) {
            min-width: 490px;
        }      
        h1{
            margin-top: 0;
            font-family: "Nunito-Bold";
            font-weight: 700;
            font-size: 36px;
            line-height: 36px;
            text-align: left;
            color: $purple;        
            width: 100%;
            min-width: 700px;
            @media (max-width: 1200px) {
                font-size: 30px;
            }
        }                  
    }
    .players_online{
        display: flex;
        align-items: center;
        align-self: center;
        h4{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;            
        }
        span{
            width: 72px;
            height: 35px;
            margin-left: 6px;            
        }
    }
    .qr_code{
        padding: 5px;
        margin: 0.4vh auto 0;
        height: 31.3vh;
        width: 31.3vh;
    }
    .room{
        font-family: 'Nunito-Bold';
        width: 267px;
        height: 35px;        
        margin: 4vh 0 0vh;
        align-self: center;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 6vh 0 1.6vh;
        .footer_elem{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            height: 100px;
            width: 400px;
            @media (max-width: 1366px) {
                // width: 450px;
            }
            &:first-child{
                .yellow_button{
                    width: 399px;
                    height: 51px;
                    
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    @media (max-width: 1366px) {
                        width: 349px;
                        font-size: 20px;
                    }
                }
                div{
                    display: flex;
                    width: 340px;
                    justify-content: space-between;
                    margin-top: 20px;
                    @media (max-width: 1366px) {
                        width: 280px;
                    }
                }
            }
            &:last-child{
                width: 500px;
                @media (max-width: 1366px) {
                    width: 460px;
                }
                section{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    span{
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 27px;
                        color: #4C1357;
                        @media (max-width: 1366px) {
                            font-size: 16px;
                        }
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        input{
                            border-bottom-left-radius: 50px;
                            border-top-left-radius: 50px;
                            border: 1px solid $almostBlck;
                            padding: 2px 0 4px 8px;
                            font-weight: 200;
                            font-size: 14px;
                            line-height: 19px;
                        }
                        div{
                            border: 1px solid $almostBlck;
                            border-bottom-right-radius: 50px;
                            border-top-right-radius: 50px;
                            border-left: none;
                            button{
                                padding: 3px 8px;
                                background: none;
                            }
                        }
                    }
                }
            }
        }
    }
}