@import 'variables';

.games_container{
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
        flex-direction: column-reverse;        
    }
    .games{
        display: flex;
        width: 65.3%; 
        max-width: 940px;
        height: 52.7vh;
        margin: 74px auto 0;
        justify-content: center;
        
        border: 1px solid #4C1357;
        border-radius: 50px;
        flex-wrap: wrap;
        @media (max-width: 1024px) {
            width: 90.3%; 
        }
        @media (max-width: 768px) {
            margin: 39px auto 60px;
            height: auto;
        }
        @media (max-height: 768px) {
            min-height: 380px;
        }
        @media (max-width: 480px) {
            width: 242px;
            height: 1264px;
        }
        a{
            width: 33%; 
            min-width: 200px; 
            height: auto;
        }
        a, div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            span{
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                color: $purple;
            }
            .dollar{
                position: absolute;

            }
        }
    }
    button{
        position: absolute;
        bottom: 6vh;
        width: 260px;
        height: 61px;
        background: $yellow;
        border-radius: 90px;
        color: $purple;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;    
        @media (max-width: 768px) {
            position: relative;
            margin: 109px auto 0;
            bottom: 0;
        }    
    }
}
