@import 'variables';

.in_app_components{
    border-top: 1px solid rgba(76, 19, 87, 0.5);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .banner{
        position: relative;
        display: flex;
        align-items: center;
        width: 40%;
        min-width: 590px;
        height: 77px;
        left: 0px;
        top: 68px;
        background: $yellow;
        @media (max-width: 1200px) {
            min-width: 490px;
        }
        h1{
            font-family: 'Nunito-Black';  
            font-weight: normal;
            font-weight: 900;
            font-size: 36px;
            line-height: 49px;
            color: $almostBlck;
            padding-left: 25.6%;
        }
    }
}