@import 'variables';

.mobile_final_round{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .select_theme_container{
        text-align: left;
        p{
            margin-top: 0;
            color: $purple;
            @media (max-width: 768px) {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
            } 
        }
    }
    .choose_answer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1vh;
        margin-left: -38px;
        width: 100vw;    
        .label{
            margin: 0;
            font-family: 'Nunito-Black';
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            text-align: center;            
        }
        .choose_number{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 80%;
            padding: 0 10%;
            overflow: hidden;
            margin-top: 5vh;
            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                    
                    color: $purple;                    
                }
                input{
                    font-family: 'Nunito';
                    color: $purple;       
                    font-size: 37px;
                    text-align: center;             
                    margin-top: 6px;
                    background: #FFFFFF;
                    border: 0.5px solid #1A1A1A;
                    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 50px;         
                    width: 90%;
                    height: 55px;        
                } 
                .slider_container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 4vh auto 4vh;
                    width: 95%;
                    .slider {
                        -webkit-appearance: none;
                        height: 6px;
                        background: $yellow;
                        outline: none;
                        transition: 0.4s;
                        padding: 0;
                        width: 100%;
                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            width: 11px;
                            height: 44px;
                            
                            background: #9747FF;
                            border-radius: 12.5px;
                            transition: 0.4s;
                            cursor: pointer;
                        }                  
                        &::-moz-range-thumb{
                            width: 11px;
                            height: 44px;
                            border: none;
                            background: #9747FF;
                            border-radius: 12.5px;
                            transition: 0.4s;
                            cursor: pointer;
                        }                    
                    }
                    div{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 9999;
                        &:last-child{
                            align-items: flex-end;
                        }
                        h6{
                            position: absolute;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 19px;
                            font-family: 'Nunito';   
                            text-align: center;    
                            margin: 0;                    
                            top: -20px;
                        }
                        span{
                            display: block;
                            width: 7px;
                            height: 42px;
                            background: $purple;
                            border-radius: 12.5px;
                        }
                    }
                }                
                button{
                    margin: 5vh 0 0.8vh;
                    width: 157px;
                    height: 44.73px; 
                    font-family: 'Nunito-Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                    color: #4C1357;                    
                }
            }
        }    
    }
    .timer{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        color: $purple;
    }   
}