@import 'variables';

.mobile_waiting{
    width: 100vw;
    margin-left: -38px;
    h1{
        margin-top: 5vh;
        font-family: 'Nunito-Bold';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 55px;
    }
    .waiting_players{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80%;
        height: 33vh;
        margin: 5vh auto 3vh;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25.5%;
            .player{
                width: 100%;
            }
            span{
                font-family: 'Nunito-Bold';
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                color: #000000;  
                margin: 6px 0;              
            }            
        }
    }
    a{
        margin: 0vh auto;
        width: 179px;
        height: 51px;
        font-family: 'Nunito-Bold';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 33px;
    }
}