@import 'variables';

.mobile_final_round{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .select_theme_container{
        text-align: left;
        p{
            margin-top: 0;
            color: $purple;
            @media (max-width: 768px) {
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
            } 
        }
    }
    .choose_answer{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1vh;
        margin-left: -38px;
        width: 100vw;    
        .label{
            margin: 0;
            font-family: 'Nunito-Black';
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            text-align: center;            
        }
        .choose_number{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 80%;
            padding: 0 10%;
            overflow: hidden;
            margin-top: 4vh;
            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                    
                    color: $purple;                    
                }
                input{
                    font-family: 'Nunito';
                    color: $purple;       
                    font-size: 37px;
                    text-align: center;             
                    margin-top: 6px;
                    background: #FFFFFF;
                    border: 0.5px solid #1A1A1A;
                    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 50px;         
                    width: 204px;
                    height: 55px;        
                } 
                button{
                    margin-top: 5vh;
                    width: 157px;
                    height: 44.73px; 

                    font-family: 'Nunito-Bold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 27px;
                    text-align: center;
                    
                    color: #4C1357;                    
                }
            }
            .slider_container{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 285px;
                margin: 0 -120px 0 -80px;
                .slider {
                    transform: rotate(-90deg);
                    -webkit-appearance: none;
                    width: 270px;
                    height: 6px;
                    background: $yellow;
                    outline: none;
                    transition: 0.4s;
                    &::-moz-range-thumb{
                        width: 11px;
                        height: 44px;
                        
                        background: #9747FF;
                        border-radius: 12.5px;
                        transition: 0.4s;
                        cursor: pointer;
                    }                    
                }
                div{
                    position: relative;
                    display: flex;
                    align-items: flex-start;
                    z-index: 9999;
                    &:last-child{
                        align-items: flex-end;
                        h6{
                            top: -7px;
                        }
                    }
                    h6{
                        position: absolute;
                        right: 48px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        font-family: 'Nunito';   
                        text-align: center;    
                        margin: 0;                    
                        top: -4px;
                    }
                    span{
                        display: block;
                        height: 7px;
                        width: 42px;
                        background: $purple;
                        border-radius: 12.5px;
                    }
                    // margin: 10px 0;
                }
            }
        }    
    }
    .timer{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        text-align: center;
        color: $purple;
    }   
}