@import 'variables';

.modal_window{
    position: absolute;
    z-index: 99999;
    backdrop-filter: blur(2px);
    width: 100%;
    height: calc(100% - 96px);
    top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1024px) {
        height: calc(100% - 91px);
        top: 91px;
    }
    .background{
        position: absolute;
        background: rgba(255, 204, 0, 0.5);
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    .modal{
        width: 540px;
        height: 503px;
        left: 450px;
        top: 184px;
        z-index: 99999;
        background: #FFFFFF;
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
        border-radius: 50px;

        display: flex;
        flex-direction: column;
        @media (max-width: 1024px) {
            width: 440px;
            height: 463px;
        }
        @media (max-width: 768px) {
            width: 302px;
            height: 318px;         
        }
        h1{
            font-weight: 700;
            font-size: 48px;
            color: $purple;
            line-height: 65px;
            margin-bottom: 0;
            @media (max-width: 1024px) {
                font-size: 38px;
            }
            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 33px;                
            }
        }
        form{
            display: flex;
            flex-direction: column;  
            align-items: center;
            label{
                font-family: "Nunito-Light";
                margin: 20px 0 5px;
                align-self: flex-start;
                padding-left: 130px;
                font-weight: 200;
                font-size: 14px;
                line-height: 19px;
                color: $almostBlck;    
                @media (max-width: 768px) {
                    display: none;
                }
            } 
            input{
                background: #FFFFFF;
                border: 0.5px solid #1A1A1A;
                box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);                
                border-radius: 50px;
                width: 63%;
                height: 61px;
                padding: 0 20px;
                @media (max-width: 1024px) {
                    height: 51px;
                }
                @media (max-width: 768px) {
                    margin-top: 6%;
                    width: 149.94px;
                    height: 34.08px;
                }
            }
            div{
                display: flex;
                justify-content: space-between;
                width: 60%;
                margin-top: 15px;
                @media (max-width: 1024px) {
                    width: 60%;
                }
                @media (max-width: 768px) {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column-reverse;
                }
                button{
                    font-family: "Nunito";
                    display: flex;
                    align-items: center;
                    text-align: center;
                    color: $purple;
                    background: none;
                    border: none;
                    width: 50%;
                    @media (max-width: 768px) {
                        width: 100%;
                        justify-content: center !important;
                    }                         
                    &:first-child{
                        justify-content: flex-start;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 16px;
                        @media (max-width: 768px) {
                            font-weight: 300;
                            font-size: 8px;
                            line-height: 11px;                            
                            margin-top: 10px;
                        }                        
                    }
                    &:last-child{
                        justify-content: flex-end;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 22px;                    
                    }
                }
            }
        }
        span{
            font-family: "Nunito-Light";
            margin-top: 9%;
            font-weight: 200;
            font-size: 13px;
            line-height: 18px;
            color: #000000;   
            @media (max-width: 768px) {
                margin-top: 8%;
            }
        }
        footer{
            margin: 15px auto;
            display: flex;
            justify-content: space-between;
            width: 28%;
            @media (max-width: 1024px) {
                width: 30%;
            }
            @media (max-width: 768px) {
                width: 28%;
            }
            img{
                @media (max-width: 768px) {
                    width: 26px;
                    height: 25.14px;
                }
            }
        }
    }
}