.component{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -16px;
    .user_info_container{
        display: flex;
        justify-content: flex-end;
        width: 29.8%;
        min-width: 436px;
        @media (max-width: 1200px) {
            min-width: 364px;
        }        
        @media (max-width: 1024px) {
            width: 39.8%;
            min-width: 230px;
        }
        @media (max-width: 768px) {
            min-width: 176px;
            width: 39.2%;
        }
        .user_info{
            width: 100%;
            min-width: 300px;
            // padding-left: 25.6%;
            @media (max-width: 1024px) {
                min-width: 0px;
                // padding-left: 23px;
            }
            div{
                display: flex;
                border-bottom: 1px solid rgba(76, 19, 87, 0.5);
                padding: 20px 0;
                @media (max-width: 768px) {
                    padding: 10px 0;
                }
                span{
                    font-size: 22px;
                    line-height: 33px;    
                    @media (max-width: 1200px) {
                        font-size: 18px;
                    }
                    @media (max-width: 768px) {
                        font-size: 14px;
                        line-height: 19px;
                    }
                    &:first-child{
                        font-family: "Nunito-Light";
                        text-align: left;
                        font-weight: 300;
                        width: 60px;
                        @media (max-width: 768px) {
                            width: auto;
                        }
                    }
                    &:last-child{
                        font-family: "Nunito";
                        font-weight: 600;
                        margin-left: 50px;
                        @media (max-width: 1024px) {
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }
    .profile_photo{
        width: 60%;
        margin-top: -50px;
        @media (max-width: 768px) {
            margin-top: -40px;
        }
        img{
            display: flex;
            align-self: flex-start;
            padding-left: 18.4%;
            @media (max-width: 1440px) {
                width: 40%;
                height: auto;
            }
            @media (max-width: 1024px) {
                min-width: 153px;
                padding-left: 10%;
            }
            @media (max-width: 390px) {
                width: 80%;
                min-width: 100px;
            }
        }
    }
}