@import 'variables';

.select_theme{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 67px 0 0;
    .select_theme_container{
        display: flex;
        // display: none;
        align-items: center;
        justify-content: space-between;
        min-width: 590px;
        width: calc(100% - 20.6%);
        padding: 0 0 0 10.24%;
        @media (max-width: 1200px) {
            min-width: 490px;
        }                 
        @media (max-width: 768px) {
            min-width: 0px;
            justify-content: flex-start;
            width: calc(100% - 23px);
            padding: 0 0 0 23px;
        }
            div{
            &:first-child{
                text-align: left;
                width: 80%;
                h1{
                    font-family: "Nunito-Bold";
                    text-align: left;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 49px;
                    color: $purple;          
                    margin-bottom: 0;  
                    @media (max-width: 1200px) {
                        font-size: 30px;
                    }
                    @media (max-width: 768px) {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 19px;
                    }
                }
                p{
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 27px;
                    color: $purple;
                    margin-top: 0;
                    @media (max-width: 768px) {
                        font-weight: 300;
                        font-size: 10px;
                        line-height: 14px;
                    }
                }                
            }
        }
        span{

            margin-right: 3%;    
            @media (max-width: 1024px) {
                display: none;
            }
        }            
    }
    .select_theme{
        display: none;
        font-family: 'Nunito-Black';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 33px;
        
        margin: 2vh 0 2vh;    
        @media (max-width: 768px) {
            display: block;
        }
    }
    .themes{
        display: flex;
        margin: 8vh auto;
        justify-content: space-between;
        width: 70%;
        @media (max-width: 768px) {
            margin: 1vh auto;
            align-items: center;
            height: 38vh;
            flex-direction: column;
        }
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            background: $yellow;
            border-radius: 50%;
            width: 160px;
            height: 160px;

            font-family: "Nunito-Black";
            font-weight: 900;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            color: $purple;
            @media (max-width: 768px) {
                cursor: pointer;
                width: 295px;
                height: 51px;
                border-radius: 20px;

                font-family: 'Nunito';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;                
            }
        }
    }
    .theme{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8vh auto 4vh;
        width: 76%;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 64px;
            line-height: 87px;
            text-align: center;
            
            background: #FFFFFF;
            border: 4px solid $purple;
            width: 150px;                
            height: 150px;
            border-radius: 50%;   
        }
        div{
            width: 660px;
            height: 379.5px;
            background: $yellow;
            border: 12px solid $purple;
            box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
            border-radius: 50px;       
            
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Nunito-Bold';
            font-weight: 700;
            font-size: 48px;
            line-height: 65px;
            color: $purple;
        }
    }
    .players{
        display: flex;
        margin: 2vh auto;
        justify-content: space-between;
        width: 64%;
        @media (max-width: 1024px) {
            display: none;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65.8px;
            h6{
                display: flex;
                justify-content: center;
                align-items: center;
                background: $yellow;
                border-radius: 50%;
                height: 28px;
                width: 28px;
                margin-bottom: 0;
                font-family: "Nunito-Black";
                color: $purple;
            }
            img{
                width: 100%
            }            
            span{
                margin-top: 4px;
                color: $purple;
            }
        }
    }
    .theme_id{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 64px;
        line-height: 87px;
        
        background: #FFFFFF;
        border: 4px solid $purple;
        width: 150px;                
        height: 150px;
        border-radius: 50%;   

    }
    .theme_id_adapt{
        display: none;
        margin: 2.5vh auto 0;
        @media (max-width: 768px) {
            display: flex;
            width: 96px;
            height: 96px;
            font-weight: 700;
            font-size: 48px;
            line-height: 65px;                        
        }
    }
}