@import 'variables';

.waiting_friends{
    display: flex;
    flex-direction: column;
    align-items: center;
    .waiting_friends_content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: 425.07px;   
        margin-bottom: 4.7vh;
        @media (max-width: 1366px) {
            height: 380.07px;   
            margin-bottom: 5.7vh;
        }                    
        .players_banner{
            display: flex;
            justify-content: center;
            align-items: center;            
            height: 100%;
            width: 65%;
            @media (max-width: 1366px) {
                width: 55%;
            }
            div{
                background: rgba(255, 204, 0, 0.3);
                border: 1px solid #4C1357;
                filter: blur(2px);
                border-radius: 50px;
                height: 100%;
                width: 100%;
            }
            h1{
                position: absolute;
                font-size: 36px;
                line-height: 49px;
                color: $purple;
            }
            button{
                position: absolute;
                background: $purple;
                box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
                border-radius: 90px;                
                color: white;

                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 49px;
                text-align: center;
                padding: 20px 120px;                
            }
        }
        .qr{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 30%;
            @media (max-width: 1200px) {
                width: 35%;
            }
            .qr_code{
                width: calc(100% - 40px);
                max-width: 320px;
                padding: 20px;
                
            }
            a{
                width: 80%;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                text-align: center; 
            }
        }        
    }

    .waiting_players{
        display: flex;
        // width: 50%;
        align-items: center;
        min-width: 940px;
        @media (max-width: 1366px) {
            min-width: 740px;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 4%;
            width: 16%;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            @media (max-width: 1366px) {
                width: 13%;
            }
            span{
                font-weight: 700;
                font-size: 14px;
                line-height: 19px;
                color: #000000;  
                margin: 6px 0;              
            }
            .player{
                width: 100%;

            }
            h6{
                margin: 0;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 200;
                font-size: 10px;
                line-height: 14px;
                text-align: center;
                
                color: $purple;                
            }
        }
    }
}