@font-face {
  font-family: "Nunito-Light";
  src: local("Nunito-Light"),
   url("./fonts/Nunito-Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
   url("./fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito-Bold";
  src: local("Nunito-Bold"),
   url("./fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Nunito-Black";
  src: local("Nunito-Black"),
   url("./fonts/Nunito-Black.ttf") format("truetype");
  font-weight: bold;
}
html{
  min-height:100%;
  max-width: 100vw;
  position:relative;
}
body {
  margin: 0;
  h1, h3, p, span, label{
    font-family: 'Nunito';
    font-style: normal;
  }
  button{
    cursor: pointer;
    border: none;
  }
  .yellow_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;

    font-family: "Nunito";

    background: #FFCC00;
    color: #4C1357;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.4s;
  }
  .active{
    background: #4C1357;
    color: white;
  }
}